{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1>Your Shopping Cart</h1>
    {% if products %}
    <div class="row">
        {% for item in products %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="{{ item['image'] }}" class="card-img-top" alt="{{ item['name'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item['name'] }}</h5>
                    <!-- <p class="card-text">{{ item['description'] }}</p> -->
                    <p class="card-text"><strong>Price:</strong> ${{ item['price'] }}</p>
                    <a href="{{ url_for('remove_from_cart', product_id=item['_id']) }}" class="btn btn-primary">Remove From Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="/shop" class="btn btn-primary">Shop more</a>

    <a href="/checkout" class="btn btn-success">Proceed to Checkout</a>
    {% else %}
   <div class="container" style="height: 60vh;">
      <p>Your cart is empty.</p>
   </div>
    {% endif %}
</div>
{% endblock %}
