{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1>Your Orders</h1>

    {% if orders %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order._id }}</td>
                    <td>{{ order.get('date', 'N/A') }}</td>
                    <td>${{ order.final_total }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <a href="{{ url_for('order_details', order_id=order._id) }}" class="btn btn-primary btn-sm">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="container" style="height: 60vh;">
        <p>No orders found.</p>
    </div>
    {% endif %}
</div>
{% endblock %}
